beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dnspython
Flask
Flask-Cors
google
google-api-core
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-texttospeech
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
itsdangerous
Jinja2
MarkupSafe
oauthlib
pathlib
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
PyJWT
pymongo
pyparsing
pypdf
python-dotenv
requests
requests-oauthlib
rsa
soupsieve
urllib3
Werkzeug
